/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffcccc; /* Cor de fundo inicial */
    background-image: 
        linear-gradient(to bottom, #f5c5ffe7, #704bb5),
        url("assets/i-like-food.svg");
    background-blend-mode: overlay;
    margin: 0;
    padding: 0;
    transition: background 0.3s ease;
}

header {
    background-image:   
        linear-gradient(135deg, #9d4d76, #BF4342),
        url("assets/wiggle.svg");
    color: white;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}
/* Estilos da navegação */
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin-top: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #D1B3FF;
    color: #333;
}


/* Estilo das seções do cardápio */
main {
    padding: 2rem;
}

.menu-category {
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.menu-category h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1rem;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

/* Estilo de cada item do cardápio */
.menu-item {
    background-color: #F9F9F9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
    font-size: 1.5rem;
    color: #BF4342;
}

.menu-item p {
    font-size: 1rem;
    color: #735751;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8C6ACC;
}

/* Estilo do footer */
footer {
    background-color: #411237;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    font-size: 1rem;
}
